.Menu.hidden,
.Game.hidden,
#Results.hidden,
#CharacterOptions.hidden {
  pointer-events: none;
  visibility: hidden;
  z-index: -999;
  height: 0;
  opacity: 0;
  top: -3rem;
  transition: all 0.5s ease-in;
}

.Menu.hidden button,
.Game.hidden button {
  pointer-events: none;
  visibility: hidden;
  min-height: 0;
  padding: 0;
  border: 0;
  height: 0;
  opacity: 0;
  transition: all 0.5s ease-in;
}

.Menu,
.Game,
#Results,
#CharacterOptions {
  width: 100%;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in, height 0.5s ease-in;
}
